*{margin:0;padding:0;box-sizing:border-box;}
*::-webkit-scrollbar{display:none;}

/* TEXT COLORS */
.white{color: white;}
.black{color: black;}
.red{color: red;}
.blue{color: blue;}
.green{color: green;}
.yellow{color: yellow;}
.grey{color: grey;}

/* BACKGROUND COLOR */
.bg-white{background-color: #fff;}
.bg-black{background-color: #000;}
.bg-red{background-color: red;}
.bg-blue{background-color: blue;}
.bg-green{background-color: green;}
.bg-yellow{background-color: yellow;}
.bg-grey{background-color: grey;}

/* CONTAINER */
.container{margin:0 auto;padding:1em;}

/* #### TYPOGRAPHY #### */
.h1,h1{font-size:2em;font-weight:900;}
.h2,h2{font-size:1.8em;font-weight:900;}
.h3,h3{font-size:1.6em;font-weight:900;}
.h4,h4{font-size:1.4em;font-weight:900;}
.h5,h5{font-size:1.2em;font-weight:900;}
.h6,h6{font-size:1em;font-weight:900;}
big{font-size:1.4em;}
small{font-size:0.8em;}
mark,.highlight{background:yellow;}
code{color:crimson;}
kbd{color:#fff;background:#000;padding:3px;border-radius:3px;}
.upperCase{text-transform:uppercase;}
.lowerCase{text-transform:lowercase;}
.capitalizeCase{text-transform:capitalize;}

/* #### TEXT-ALIGN #### */
.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.align-justify{text-align: justify;}

/* #### BUTTON #### */
.btn{display:inline-block;padding:10px 20px; margin: 10px 0; font-weight: 900;text-align: center;text-transform: uppercase;}
.btn-block{display: block;}

/* #### BORDER #### */
.border{border-width:0;border-style:solid;}
.border-top{border-top-width:2px;}
.border-bottom{border-bottom-width:2px;}
.border-left{border-left-width:2px;}
.border-right{border-right-width:2px;}
.border-x{border-right-width: 2px; border-left-width: 2px;}
.border-y{border-top-width: 2px; border-bottom-width: 2px;}
.border-xy{border-width:2px;}

/* #### BORDER #### */
.border-black{border-color: black;}
.border-white{border-color: white;}
.border-red{border-color: red;}
.border-blue{border-color: blue;}
.border-green{border-color: green;}
.border-yellow{border-color: yellow;}
.border-gray{border-color: gray;}

/* #### BORDER-RADIUS #### */
.br-4{border-radius: 4px;}
.br-8{border-radius: 8px;}
.br-50{border-radius: 50px;}

